/* :is(h1, h2, h3, p) {
    display: flex;  
    justify-content: center;  
} */

/* .input-form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin: 0;
} */

body {
    background-color: #c45938;
}

h1.textWhite.textAlignLeft {
    color: white;
  }
  
  .vCentered .vCenteredInner {
    display: table-cell;
    vertical-align: middle;
  }
  
  .textAlignCenter {
    text-align: center !important;
  }
  
  .vBottom, .vCentered, .vTop {
    display: table;
  }
  
  .textLarger {
    font-size: 150%;
    line-height: normal;
  }
  
  .textWhite, a.textWhite {
    color: #fff !important;
  }
  
  /*s: general*/
  #top_marsBanner {min-height: 74px;}
  #topSubNav {display: none}
  
  .pageContent{font-weight: normal}
  @media screen and (max-width: 750px){
      body, html {
          overflow-x: hidden;
      }
  }
  
  #weather_observation .lbl_fahrenheit , #weather_observation .lbl_celsius, #weather_observation .lbl_mph , #weather_observation .lbl_mps { cursor: pointer}
  #weather_observation .fadeBlack {color:rgba(0,0,0,0.3);}
  .degree .lbl_fahrenheit, .degree .lbl_celsius{cursor: pointer}
  .temperatures.main .fahrenheit, .temperatures.main .celsius{ text-align: right; display: inline-block}
  .highs, .lows {display: table;}
  .highs span, .lows span{display:table-cell;padding: 0 3px; text-align: right; }
  span.dateSol {
      font-size: 16px;
      font-weight: 600;
  }
  
.nodata{
	color:#b2b2b2;
	font-size: 75%;
	line-height:normal;
	font-weight:normal;

}
  #weather_observation td {
      padding: 10px 5px;
      text-align: center;
  }
  #weather_observation thead th {
      border: none;
      border-bottom: 1px solid darkgray;
      background: #f9f9f9;
      padding: 10px 5px;
  }
  #weather_observation td.sol{ padding: 10px 5px;}
  #weather_observation th.sol, #weather_observation td.windspeed{ background: #f9f9f9; border:none;}
  #weather_observation td.temperature, #weather_observation td.pressure{ background: #fff; border:none;}
  /*e: #8 InSight Latest Weather*/
  
  /*MBCMS override*/
  #insight-weather .module {padding:0;}
  /*e: #5 Weather Diagram*/
  
  /*s: #6 MSL Latest Weather*/
  #MSL-Weather-Report.section {background: url('/imgs/msl/PIA20316-1440.jpg') no-repeat top center; background-size: cover;}
  #MSL-Weather-Report #Weather-Content {padding: 0 5% 0}
  #MSL-Weather-Report #Weather-Content #Weather-Data{padding:50px 0 0 20px; width:55%;}
  .pageContent #MSL-Weather-Report #Weather-Data h1{font-weight: bold;letter-spacing: 1px;}
  #MSL-Weather-Report #Weather-Data p{line-height: normal;width:95%}
  #MSL-Weather-Report .slash, #MSL-Weather-Report .degree .celsius, #MSL-Weather-Report .fadeWhite {color:rgba(255,255,255,0.5);}
  .degree .lbl_fahrenheit, .degree .lbl_celsius{cursor: pointer}
  .temperatures.main .fahrenheit, .temperatures.main .celsius{ text-align: right; display: inline-block}
  .highs, .lows {display: table;}
  .highs span, .lows span{display:table-cell;padding: 0 3px; text-align: right; }
  #MSL-Weather-Report .vCentered {padding:5% 0; width: 100%}
  #MSL-Weather-Report .temperatures.main { padding-left:5%;}
  #MSL-Weather-Report #tempDate .marsDate {font-weight: bold; font-size: larger}
  #MSL-Weather-Report #tempDate .marsDate, #MSL-Weather-Report #tempDate .earthDate {display: block;}
  #MSL-Weather-Report #Forecast { margin: 0 auto; text-align: center;}
  #MSL-Weather-Report #Forecast .item {
      width:10%;
      margin:20px 1% 50px;
      background-color:  rgba(0,0,0,0.25);
      padding: 15px 0.2%;
      display: inline-block;
      text-align: center; 
      font-weight: 600;
      letter-spacing: 1px;
  }
  #MSL-Weather-Report #Forecast .item .fadeWhiteLine {
      background-color: rgba(255,255,255,0.5);
      height: 2px; 
      width: 80%;
      text-align: center;
      margin: 10px auto;
  }
  #MSL-Weather-Report #Forecast .item  .dateUTC{font-size: smaller; font-weight:500; letter-spacing: 0; display: block;}
      #MSL-Weather-Report #Forecast .item .low{ color: rgba(255,255,255,0.5);}
  @media only screen and (max-width: 920px){
  
      #MSL-Weather-Report #Forecast .item{font-size: 0.9em; margin: 20px 0.2% 50px;line-height: normal; padding: 8px 3px;}
      #MSL-Weather-Report #tempDate .earthDate, #MSL-Weather-Report #Forecast .item .dateSol{font-size: 0.8em;}
      #MSL-Weather-Report #Forecast .item .dateUTC{font-weight: 300}
      #MSL-Weather-Report #tempDate .earthDate {display: block; }
  }
  
  @media only screen and (max-width: 512px){
      #MSL-Weather-Report #Forecast .item{font-size: 0.8em;}
      #MSL-Weather-Report #Forecast .item .slash {display: inline-block;}
      #MSL-Weather-Report #Forecast .item:nth-child(-n+4) {
          display:none; 
      }
      #MSL-Weather-Report #Forecast .item {width:25%; font-size:1.2em}
  }
  
      /*EMBED*/
      #embedWeather { font-family: "Montserrat",Helvetica,Arial,sans-serif; color: #222; font-size: 0.8em }
      #embedWeather .box{display: none;}
      #embedWeather #sizeOptions { margin: 0px; padding: 0px; }
      #embedWeather #sizeOptions li { list-style: none; font-size: 90%; }
      #embedWeather .contents {margin:0 auto; text-align: center; display: table}
      #embedWeather .preview, #embedWeather .options { display:table-cell;vertical-align: top; text-align: left;}
      #embedWeather .preview {line-height: 0}
      #embedWeather .options {border: #ccc solid thin; padding: 20px;}
      #embedWeather .options .contain {width: 300px}
      #embedWeather .embed-code-wrapper{padding: 5%; width: 80%; word-wrap:break-word; font-family: monospace, serif; font-size: 1em }
      #embedWeather .options h3{ border-bottom: thin #ccc solid;margin-top: 0;padding-top: 0;}
      #cboxLoadedContent{overflow-y: inherit !important}
  @media only screen and (max-width: 990px){
      #embedWeather .options .contain{width: 100%}
      #embedWeather .contents, #embedWeather .preview, #embedWeather .options { display: block;}
      #embedWeather .preview iframe{width: 100%}
  }
  
  @media only screen and (max-width: 920px){
      #MSL-Weather-Report #Weather-Content #Weather-Data {width:100%;}
      #MSL-Weather-Report.section .gradientOverlay{    background: -owg-linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 70%);
          background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 70%);
          background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 70%);
          background: -o-linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 70%);
          background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, transparent 70%);
          z-index: 1;}
  
      #MSL-Weather-Report #Forecast .item{font-size: 0.9em; margin: 20px 1% 50px;line-height: normal; padding: 8px 3px;}
      #MSL-Weather-Report #tempDate .earthDate, #MSL-Weather-Report #Forecast .item .dateSol{font-size: 16px;}
      #MSL-Weather-Report #Forecast .item .dateUTC{font-weight: 300}
      #MSL-Weather-Report #tempDate .earthDate {display: block; }
  
      #MSL-Weather-Report #Forecast .item{font-size: 0.8em;}
      #MSL-Weather-Report #Forecast .item .slash {display: inline-block;}
      #MSL-Weather-Report #Forecast .item:nth-child(-n+3),#MSL-Weather-Report #Forecast .item:nth-child(-n+4) {
          display:none; 
      }
      /*6*/
      #MSL-Weather-Report #Forecast .item:nth-child(4):nth-last-child(3){
          display: inline-block;
          width: 25%;
      }
  
      /*5*/
      #MSL-Weather-Report #Forecast .item:nth-child(4):nth-last-child(2),
      #MSL-Weather-Report #Forecast .item:nth-child(3):nth-last-child(3){
          display: inline-block;
          width: 25%;
      }
  
      /*4*/
      #MSL-Weather-Report #Forecast .item:nth-child(2):nth-last-child(3),
      #MSL-Weather-Report #Forecast .item:nth-child(3):nth-last-child(2),
      #MSL-Weather-Report #Forecast .item:nth-child(4):nth-last-child(1){
          display: inline-block;
          width: 25%;
      }
      
      /*3*/
      #MSL-Weather-Report #Forecast .item:nth-child(1):nth-last-child(3),
      #MSL-Weather-Report #Forecast .item:nth-child(2):nth-last-child(2),
      #MSL-Weather-Report #Forecast .item:nth-child(3):nth-last-child(1){
          display: inline-block;
          width: 25%;
      }
      
      /*2*/
      #MSL-Weather-Report #Forecast .item:nth-child(1):nth-last-child(2),
      #MSL-Weather-Report #Forecast .item:nth-child(2):nth-last-child(1){
          display: inline-block;
          width: 35%;
     }
      
      /*1*/
      #MSL-Weather-Report #Forecast .item:nth-child(1):nth-last-child(1){
           display: inline-block;
           width: 30%;
          }
      /* all */
      #MSL-Weather-Report #Forecast .item {width:25%; font-size:0.9em}
      #MSL-Weather-Report #Weather-Content.vCentered{padding:5% 0} 
  }
  
  /* specific to table */
  #weather_observation td.pressure {
      background: #f9f9f9;
      border: none;
  }
  #weather_observation td.sun {
      background: #fff;
      border: none;
  }
  #weather_observation thead th{
      border: none;
      border-bottom: none;
      background: #f9f9f9;
  }
  #weather_observation thead th.header-left {
      padding-left: 10px;
  }
  #weather_observation thead th.second-row {
      border-bottom: 1px solid darkgray;
  }
  #MSL-Weather-Report #Forecast .item .low {
      color: rgba(255,255,255,1);
  }
  table{
      table-layout: fixed;
      width: 100%;
  }
  #MSL-Weather-Report #Forecast .item .fahrenheit, #MSL-Weather-Report #Forecast .item .celsius {
      font-weight: 500;
  }
  
  #weather_observation thead th{
      font-size: 0.60em;
      padding: 10px 0px;
  }
  @media (min-width: 325px){
      #weather_observation thead th{
          font-size: 0.75em;
      }
      div.high, div.low {
          white-space: nowrap;
      }
  }
  
  /* 600px or wider*/
  @media (min-width: 600px){
      #weather_observation thead th{
          font-size: 1.0em;
      }
      #sol-header {
          width: 10%;
      }
  }
  @media (min-width: 920px){
      div.high, div.low {
          font-size: 0.8em;
      }
  }
  
  @media (min-width: 1100px){
      div.high, div.low {
          font-size: 1.0em;
      }
  }
  
  @media only screen and (max-width: 920px){
      #MSL-Weather-Report #Forecast .item .fahrenheit, #MSL-Weather-Report #Forecast .item .celsius {
          font-weight: 300;
      }
  }
  
  /*e: #6 MSL Latest Weather*/